.rblog {
  width: 100%;
  height: fit-content;
  margin-bottom: 50px;
  margin-right: 10vw; /* Corrected to vw */
  margin-left: 10vw;  /* Corrected to vw */
  border-radius: 20px;
  background: linear-gradient(225deg, #f0f0f0, #cacaca);
  transition: all 0.5s;
  display: flex;
  justify-content: space-evenly; /* Keep only one */
  align-items: center;
}

  
  /* .rblog:hover {
    margin-top: 90px;
    box-shadow: -5px 5px 3px #a6a6a6, 5px -5px 3px #ffffff;
  } */
  